<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Homepagecss.css">
    <script src="https://kit.fontawesome.com/1b1502f5a9.js" crossorigin="anonymous"></script>
    <title>Resume Parser</title>
</head>
<body>
    <header class='header'>
      
      <p>Resume Parser</p>
    </header>  
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="icon"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="menu">
         <ul>
            
            <li class='menu-item'><a href="/upload2"><i class="far fa-comment-dots"></i>Uplaod</a></li><br>
            <li class='menu-item'><a href="./index.html"><i class="fas fa-wallet"></i>Parser</a></li><br>
            <li class='menu-item'><a href="./index.html"><i class="fas fa-user-friends"></i>Canditates</a></li><br>
            <li class='menu-item'><a href="./index.html"><i class="fas fa-signal"></i>Statistics</a></li><br>
            <li class='menu-item'><a href="./index.html"><i class="fas fa-cogs"></i>Setting</a></li><br>
         </ul>
    </div>
    <div class="con">
      <h2>Let's Find Talent For Your Orginazation</h2>
      <p>We help you to make this process easy</p>
      <a href="/upload2" action= "/upload2" class="btn">  Let's Go  </a> 
    </div>    
    
    
</body>
</html>